# Virtual environment
venv/

# Git
.git/
.gitignore

# Python
__pycache__/
*.py[cod]
*.pyo

# Environment
.env

# IDE
.vscode/
.idea/

# Logs
*.log

# Static
staticfiles/

# Databases
db.sqlite3

# Chroma
chroma_db/
chroma_db_backup/
data/

# User uploaded files
media/

# Models
models/
cache/

# HuggingFace cache
.huggingface/
.cache/

# OS files
.DS_Store
Thumbs.db

# Documentation
README.md