# Python
__pycache__/
*.pyc

# Virtual Environment
venv/

# Environment Variables
.env

# Chroma Vector Database
chroma_db/

# Generated BM25 chunks
data/chunks.pkl

# IDE
.vscode/
.idea/

# Generated RAG data
data/

