venv/
__pycache__/
*.pyc
*.pyo
*.pyd

.git
.gitignore

.env
.env.*

.vscode/
.idea/

db.sqlite3

staticfiles/

*.log

README.md

# Python cache
.pytest_cache/
.mypy_cache/

# Chroma database (local)
data/chroma/
media/chroma/
chroma/

# OS files
.DS_Store
Thumbs.db