# ======================
# Django
# ======================
Django>=5.2
PyMySQL
python-dotenv

# ======================
# LangChain
# ======================
langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-huggingface
langchain-groq

# ======================
# LangGraph
# ======================
langgraph

# ======================
# Vector Database
# ======================
chromadb
faiss-cpu

# ======================
# Embeddings
# ======================
sentence-transformers
transformers
torch
accelerate

# ======================
# Document Loaders
# ======================
pypdf
PyMuPDF
python-docx
docx2txt

# ======================
# Evaluation
# ======================
ragas

# ======================
# Retrieval
# ======================
rank-bm25

# ======================
# Reranker
# ======================
FlagEmbedding

# ======================
# Cache
# ======================
redis

# ======================
# Utilities
# ======================
requests
tiktoken
pandas
numpy
scikit-learn
tqdm

# ======================
# Groq
# ======================
groq