# Django
Django>=5.2
PyMySQL
python-dotenv

# LangChain
langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-huggingface
langchain-groq

# LangGraph
langgraph

# Vector Database
chromadb

# Embeddings
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.8.0
transformers
sentence-transformers

# Document Loaders
pypdf
PyMuPDF
python-docx
docx2txt

# Retrieval
rank-bm25

# Cache
redis

# Utilities
requests
tiktoken
numpy
tqdm

# Groq
groq

# Web Search
ddgs

# Production
gunicorn
whitenoise