Django
PyMySQL

langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-huggingface

langgraph

chromadb
faiss-cpu

sentence-transformers
transformers
torch

pypdf
PyMuPDF
python-docx

ragas

python-dotenv

pandas
numpy

scikit-learn

tiktoken

requests